.App {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100%;
  padding: 15px;
  text-align: center;
}

.App-logo {
  height: 26px;
  pointer-events: none;
}

.App-link {
  color: var(--primary);
  opacity: 0.5;
  transition: 0.2s;
}

.App-link:focus,
.App-link:hover {
  opacity: 1;
}

.Select-container {
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .Select-container {
    max-width: 50%;
  }
}
