.App {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100%;
  padding: 15px;
  text-align: center;
}

.App-logo {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.App-logo a {
  color: inherit;
  display: block;
  outline: 0;
  text-decoration: none;
}

.App-logo a img {
  height: 26px;
}

.App-link {
  color: var(--primary);
  outline: 0;
  opacity: 0.5;
  transition: 0.2s;
}

.App-link:focus,
.App-link:hover {
  opacity: 1;
}

.Select-container {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .Select-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
  }
}

.Option-label {
  margin-right: 1.5px;
}

.Issue-label {
  border-radius: 2em;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 1.5px;
  padding-right: 7px;
  padding-left: 7px;
  vertical-align: bottom;
}

.Footer {
  font-size: 14px;
}

.Footer .App-link {
  text-decoration: none;
}

.Footer .App-link .App-link-label {
  text-decoration: underline;
}

.Button-container {
  margin-bottom: 45px;
  width: 100%;
}

.Button {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  outline: 0;
  padding: 1em 3em 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.4s, color 0.4s;
  width: 100%;
}

@media (min-width: 768px) {
  .Button {
    display: inline-block;
    width: auto;
  }
}

.Button:focus,
.Button:hover {
  background-color: transparent;
  color: var(--primary);
  transition: background-color 0.2s, color 0.2s;
}

.Button:focus:active,
.Button:hover:active {
  background-color: rgba(0, 0, 0, 0.1);
}
