*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --black: #000;
  --cyan: #61dafb;
  --dark-gray: #323232;
  --white: #fff;

  /* colors by functionality */
  --bg-color: var(--white);
  --text-color: var(--dark-gray);
  --primary: var(--dark-gray);

  /* other properties */
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

main {
  width: 100%;
}
